:root {
  --bg-page: #f4f6f9;
  --bg-container: #ffffff;
  --card: #100733;
  --card-hover: #110842bb;
  --text-dark: #1a1a1a;
  --gradient-upf: linear-gradient(135deg, #008037 0%, #c8102e 100%);
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-page);
  color: var(--text-dark);
  font-family: Arial, sans-serif;
}

.game-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 12px;

  background:
    linear-gradient(var(--bg-container), var(--bg-container)) padding-box,
    var(--gradient-upf) border-box;
  border: 3px solid transparent;

  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e5e7eb;
  padding-bottom: 12px;
  margin-bottom: 16px;
}

.theme-info h2 {
  font-size: 1.1rem;
  margin: 0;
  color: #89b4fa;
}

.stats {
  display: flex;
  gap: 12px;
  font-size: 0.9rem;
}

#reset-btn {
  background: var(--gradient-upf);
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition:
    transform 0.2s,
    opacity 0.2s;
}

#reset-btn:hover {
  background-color: var(--gradient-upf);
  transform: scale(1.04);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.card {
  background-color: var(--card);
  border-radius: 8px;
  cursor: pointer;
  transition:
    transform 0.2s,
    background-color 0.2s;
}

.card:hover {
  transform: scale(1.04);
  background-color: var(--card-hover);
}
